# Environments
.env
.env.test

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.venv/
.env_old/
ENV/
env.bak/
venv.bak/

# Logs and databases
*.log

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Rust/Cargo
/target
Cargo.lock
**/*.rs.bk
debug/
release/
catalog/data/
reports/
nautilus_backtest/catalog/data/
nautilus_backtest/reports/
nautilus_backtest/nautilus_backtest/catalog/data/


