@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 9%;
    --foreground: 220 13% 95%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0B0E11; /* Match the app background */
  color: #EAECEF;
}

#root {
  height: 100%;
}